[Unit]
Description=Kattenkaak Servo (cateye-right)
After=network-online.target

[Service]
User=cat
WorkingDirectory=/home/cat/kattenoog
ExecStart=/usr/bin/python3 /home/cat/kattenoog/jaw_udp_dynamixel.py \
  --dev /dev/ttyUSB0 --id 1 --baud 57600 \
  --min_deg 200 --max_deg 245 \
  --port 5006 --invert
  --prof_vel 100 --prof_acc 20

Restart=always

[Install]
WantedBy=multi-user.target

